:root {
    --c-title: #2E2F42;
--c-text: #434455;
--c-feetback: #404BBF;
--c-button-h1: #FFF;
--c-footer-logo-paragraf: #F4F4FD; 
--c-hide-title: brown;
--c-button-back: #4D5AE5;
--c-hover-button-back: #404BBF;
}

/* Header */
.logo-up {
    color: var(--c-title);
}

.nav-link {
    color: var(--c-title);
}

.nav-link:active {
color: var(--c-feetback);
}

.address-mail {
    color: var(--c-text);
}

.address-mail:active {
    color: var(--c-feetback);
}

.tel-contacts {
   color: var(--c-text);
}

/* Main section 1 */
.hero-section {
    background-color: var(--c-title);
}

.hero-title {
    color: var(--c-button-h1);
}

.button {
    color: var(--c-button-h1);
    background-color: var(--c-button-back);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    color: var(--c-button-h1);
    background-color: var(--c-hover-button-back);
}

/* Main section 2 */
.title-section-second {
    color: var(--c-hide-title);
}

.title-of-principles {
    color: var(--c-title);
}

.text-principles {
    color: var(--c-text);
}

/* Main section 3 */
.title-section-three {
    color: var(--c-title);
}

.team-members {
    color: var(--c-title);
}

.profession-team-members {
    color: var(--c-text);
}

/* Main section 4 */
.title-section-four {
    color: var(--c-title);
}

.functionality {
    color: var(--c-title);
}

.type-functionality {
    color: var(--c-text);
}

/* Footer */
.logo-down {
    color:var(--c-footer-logo-paragraf);
}

.background-footer {
    background-color: var(--c-title);
}

.guideline {
    color:var(--c-footer-logo-paragraf);
}