:root {
    --c-title: #2E2F42;
--c-text: #434455;
--c-feetback: #404BBF;
--c-button-h1: #FFF;
--c-footer-logo-paragraf: #F4F4FD; 
--c-hide-title: brown;
--c-button-back: #4D5AE5;
--c-hover-button-back: #404BBF;
--c-logo-accent: #4D5AE5;
--c-bgr-c-s: #F4F4FD;
--c-team-members-bgr: #FFF;
}



body {
color: var(--c-text);
font-family: "Roboto" ,sans-serif;
font-size: 16px;
background-color: var(--c-button-h1);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Header */
.logo-up {
color: var(--c-logo-accent);
font-family: "Raleway" ,sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.logo-accent-up {
color:var(--c-title);
}

/* Studio */
.nav-link-studio {
color: var(--c-title);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em; 
}

.nav-link-studio:hover {
color: var(--c-feetback);
}

.nav-link-studio:focus {
color: var(--c-feetback);    
}

.nav-link-studio:active {
color: var(--c-feetback);    
}

/* Portfolio */
.nav-link-portfolio {
color: var(--c-title);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;    
}

.nav-link-portfolio:hover {
color: var(--c-feetback);    
}

.nav-link-portfolio:focus {
color: var(--c-feetback);
}

.nav-link-portfolio:active {
color: var(--c-feetback);    
}

/* Contacts */
.nav-link-contacts {
color: var(--c-title);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.nav-link-contacts:hover {
color: var(--c-feetback);    
}

.nav-link-contacts:focus {
color: var(--c-feetback);
}

.nav-link-contacts:active {
color: var(--c-feetback);    
}

/* Addres */
.mail-contacts {
font-style: normal;
}

.address-mail {
color: var(--c-text);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.address-mail:hover {
color: var(--c-feetback);
}

.address-mail:focus {
color: var(--c-feetback);    
}

.address-mail:active {
color: var(--c-feetback);
}

.tel-number {
color: var(--c-text);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.tel-number:hover {
color: var(--c-feetback);
}

.tel-number:focus {
color: var(--c-feetback);
}

.tel-number:active {
color: var(--c-feetback);
}

/* Main section 1 */
.hero-section {
background-color: var(--c-title);
}

.hero-title {
text-align: center;
color: var(--c-button-h1);
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}

.button {
font-family: inherit;
color: var(--c-button-h1);
background-color: var(--c-button-back);
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}

.button:hover {
color: var(--c-button-h1);
background-color: var(--c-hover-button-back);
}

.button:focus {
background-color: var(--c-hover-button-back)    
}

.button:active {
background-color: var(--c-hover-button-back);    
}

/* Main section 2 */
.title-visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.title-of-principles {
color: var(--c-title);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.text-principles {
color: var(--c-text);
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Main section 3 */
.section-three {
background-color: var(--c-bgr-c-s);
}

.title-section-three {
text-align: center;
text-transform: capitalize;
color: var(--c-title);
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
}

/* Mark */
.team-mark {
background-color: var(--c-team-members-bgr);
}

.team-member-mark {
color: var(--c-title);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.profession-team-member-mark {
color: var(--c-text);
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Tom */
.team-tom {
background-color: var(--c-team-members-bgr);
}

.team-member-tom {
color: var(--c-title);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.profession-team-member-tom {
color: var(--c-text);
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Camila */
.team-camila {
background-color: var(--c-team-members-bgr);
}

.team-member-camila {
color: var(--c-title);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.profession-team-member-camila {
color: var(--c-text);
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Daniel */
.team-daniel {
background-color: var(--c-team-members-bgr);
}

.team-member-daniel {
color: var(--c-title);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;    
}

.profession-team-member-daniel {
color: var(--c-text);
line-height: 1.5;
letter-spacing: 0.02em;    
}

/* Main section 4 */
.title-section-four {
text-align: center;
color: var(--c-title);
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
}

/* Banking App */
.functionality-banking-app {
color: var(--c-title);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;    
}

.functionality-banking-app-type {
color: var(--c-text);
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Cashless Payment */
.functionality-cashless-payment {
color: var(--c-title);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.functionality-cashless-payment-type {
color: var(--c-text);
line-height: 1.5;
letter-spacing: 0.02em;    
}

/* Meditation App */
.functionality-meditation-app {
color: var(--c-title);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;    
}

.functionality-meditation-app-type {
color: var(--c-text);
line-height: 1.5;
letter-spacing: 0.02em;    
}

/* Taxi Service */
.functionality-taxi-service {
color: var(--c-title);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;     
}

.functionality-taxi-service-type {
color: var(--c-text);
line-height: 1.5;
letter-spacing: 0.02em;     
}

/* Screen Illustrations */
.functionality-screen-illustrations {
color: var(--c-title);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.functionality-screen-illustrations-type- {
color: var(--c-text);
line-height: 1.5;
letter-spacing: 0.02em;    
}

/* Online Courses */
.functionality-online-courses{
color: var(--c-title);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;    
}

.functionality-online-courses-type {
color: var(--c-text);
line-height: 1.5;
letter-spacing: 0.02em;    
}

/* Footer */
.logo-down {
color:var(--c-logo-accent);
font-family: "Raleway" ,sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.logo-accent-down {
    color: var(--c-footer-logo-paragraf);
}

.background-footer {
    background-color: var(--c-title);
}

.guideline {
    color:var(--c-footer-logo-paragraf);
line-height: 1.5;
letter-spacing: 0.02em;
}